.color-white {
    color: white;
}

.active-dark {
    color: #495057;
    background-color: #bdbdbd;
    border-color: black;
}

.tab-border {
    border: solid 1px white;
}

.nav-link:hover {
    color: #808080;
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}